@charset "utf-8";
/* CSS Document */

h1,h2,h3,h4,h5,h6{font-family:'NotoSansKR', sans-serif}
*{margin: 0px;padding: 0px;list-style: none;text-decoration: none;color: black;}

/* header */
header{height: 60px;max-width: 2000px;min-width: 1000px;display: flex;align-items: center;
    position: relative;overflow: hidden;box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, .1);}
.logo{margin-left: 30px;float: left;}
.sign{margin-right: 30px;position: absolute;right: 55px;}
.sign a{margin: 0 15px;opacity: .7;font-size: 15px;}
.search input{width: 450px;height: 40px;border-radius: 15px;border: none;background-color: rgb(219, 219, 219);
    font-size: 20px;font-weight: bold;margin-left: 50px;}
.search button{width: 47px;height: 40px;border: none;border-radius: 15px;background-color: skyblue;
    color: white;font-size: 17px;font-weight: bold;}
.head-btn{background-color:lightskyblue; border: none;border-radius: 15px;width: 60px;height: 40px;color: white;position: absolute;right: 20px;}


/* cont-head */


.cont-head{display: flex;align-content: center;justify-content: space-between; align-items: center;max-width: 1800px;min-width: 500px;position: relative;margin: 30px auto;}
.cont-head h5{font-size: 30px;font-family: 'NotoSansKR';font-weight: bold;color: black;margin-left:30px;}


/* dropdown */
.dropdown{position: relative;display: inline-block;}
.dropdown-btn{background-color: darkslategray;color: white;padding: 8px;font-size: 15px;border: none;margin: 0 15px;}
.dropdown-cont{display: none;position: absolute;background-color: darkslategray;
    min-width: 75px;padding: 5px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);margin: 0 15px;}
.dropdown-cont a{color: white;padding: 8px;text-decoration: none;display: block;}
.dropdown-cont a:hover{background-color: gray;}
.dropdown:hover .dropdown-cont{display: block;}
.dropdown:hover .dropdown-btn{background-color: gray;}


/* box */
.cont{width: 1800px;margin: auto;}
.box{max-width: 1800px; margin: 20px auto 10px;padding: 0 20px;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: center;}
.box .image{width: calc(20% - 10px);height: 228px;background-color: #999;margin: 5px;}
.image:nth-child(1){background-image: url(../Img/bird-1.PNG);background-size: cover;}
.image:nth-child(2){background-image: url(../Img/bird-2.PNG);background-size: cover;}
